.burgerConstructorContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.burgerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 400px;
}

.burgerContainer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 110%;
}

.priceAndOrder {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.priceAndOrder span {
    display: flex;
    align-items: center;
}

.burgerConstructorContainer header {
    justify-content: flex-end;
}

.constructorBunsContainer {
    display: flex;
    justify-content: center;
}

.constructorBuns {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f2f37;
    max-width: 536px;
    width: 83%;
    padding: 16px 24px;
    min-height: 60px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
}

.burgerContainer > * {
    width: 100%;
}

.constructorBuns.bottom {
    border-radius: 40px 40px 88px 88px;
}
.constructorBuns.top {
    border-radius: 88px 88px 40px 40px;
}

.constructorStuffing {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f2f37;
    border-radius: 100px;
    max-width: 536px;
    width: 76%;
    padding: 16px 24px;
    min-height: 60px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    color: #F2F2F3;
}

.constructorStuffing.active, .constructorBuns.active {
    border: 2px dashed rgb(208, 55, 222);
}