.burgerConstructorItem {
  position: relative;
  width: 85%;
}

.burgerConstructorItem div:last-child {
  width: 100%;
}

.burgerConstructorItem:not(:last-child) {
  margin-bottom: 10px;
}

.bullets {
  position: absolute;
  left: -60px;
  top: calc(50% - 12px);
}