.ingredientItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.ingredientItem img {
    width: 240px;
    height: 120px;
}

.ingredientItem .test {
    display: flex;
    justify-content: center;
}

.ingredientItem .showCounter {
    visibility: visible;
}

.ingredientItem .hideCounter {
    visibility: hidden;
}