.burgerIngredientsContainer nav {
    display: flex;
    position: relative;
}

.burgerIngredientsContainer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.burgerIngredientsContainer .ingredients {
    overflow-y: scroll;
    max-height: calc(100vh - 250px);
    position: relative;
}