.appHeaderContainer {
    display: flex;
    padding: 16px;
    width: 80%;
}

.appHeaderContainer .logo {
    margin-right: auto;
}

.appHeaderContainer a:last-child {
    margin-left: auto;
}

.appHeaderContainer div {
    display: flex;
}

.appHeaderContainer a {
    display: flex;
    align-items: center;
}

